*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
#pacientes h2 {
    text-align: center;
}
.flex {
    display: flex;
    height: auto;
}
#filtrado {
    width: 30%;
    height: auto;
    padding: 10px;
}
#listado {
    width: 70%;
    height: auto;
}
article {
    border: 1px solid gray;
}
@media (max-width:768px) {
    .flex {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #filtrado {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    #listado {
        width: 100%;
        height: auto;
    }
}